@model IEnumerable<Watchlist.Models.ModeleVueFilm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>Présent dans la liste</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                    <button id="@item.IdFilm" data-val="@item.Vu" class="btn">
                        @(item.presentDansListe ? " - " : " + ")
                    </button>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdFilm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdFilm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFilm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script>
           jQuery(document).ready(function () {
              $('.btn').click(function (e) {
         var btn = $(this);
         var idFilm = btn.attr('id');
         var valFilm = btn.attr('presentDansListe-val') == "False" ? 0 : 1;
           $.get('/Films/AjouterSupprimer?id=' + idFilm + '&val=' + valFilm,
        function (data) {
           if (data == 0) {
        btn.attr('presentDansListe-val', 'False');
        btn.html(' + ');
           }
           else if (data == 1) {
        btn.attr('presentDansListe-val', 'True');
        btn.html(' - ');
           }
           });
        });

           });

    </script>

}